body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(359deg);
  }
}
.rotate-image {
  animation: rotation 2s linear infinite;
}

.home{
  --hm-bcg: url(./assets/home/background-home-desktop.jpg);
}
.destination {
  --hm-bcg: url(./assets/destination/background-destination-desktop.jpg);
}
.crew {
  --hm-bcg: url(./assets/crew/background-crew-desktop.jpg);
}
.technology {
  --hm-bcg: url(./assets/technology/background-technology-desktop.jpg);
}
body {
  margin: 0 ;
  padding: 0;
  max-width: 1440px;
  box-sizing: border-box;
  background-image:var(--hm-bcg);
  /* background-color: var(--hm-bcg); */
  /* background-color: aquamarine; */
  color: white;
  font-weight: 400;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.nav {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
    color: white;
}
.nav-link{
  display: flex;
  align-items: center;
  width: 60%;
  height: 5rem;
  background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
}
.nav-links {
  /* background-color: aqua; */
  list-style-type: none;
  width: 80%;
  text-transform: uppercase;
  display: flex;
  gap: 2rem;
  justify-content: space-around;
}
.nav-icon {
  margin-top: 1rem;
  width: 40%;
    padding-left: 2rem;
}
.nav-menu {
 display: none;
}

/* home styling //////////////////// */

.home-main {
  display: flex;
  margin: 10rem auto;
  justify-content: space-around;
  width: 100%;
  height: 122px;
}
.home-notes {
  width: 30%;
}
.article {
  margin-top: -7rem;
}
.home-note {
  display: flex;
  flex-direction: column;
}
.home-title {
  margin-top: 2rem;
  text-transform: uppercase;
  font-weight: 400;
}
.home-space {
  text-transform: uppercase;
   font-size: 8rem;
   font-weight: 400;
   margin-top: -2rem;
}
.explore {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  height: 20rem;
  /* background-color: red; */
  width: 35%;
}
.explore-text{
  font-weight: 400;
  font-size: 2rem;
  color: black;
}
.explore-box {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 14rem;
  border-radius: 50%;
  background-color: white ;
}
a {
  text-decoration: none;
    color: white;
}

/* crew styling   ///////// */

.crew-main,
.dest-main {
  margin: 3rem auto;
  display: flex;
  justify-content: space-around;
   width: 100%;
  }
.crew-notes {
  width: 40%;
  display: flex;
  gap: 3rem;
  padding-left: 2rem;
  flex-direction: column;
}
.crew-images {
  width: 38%;
  height: 15rem;
}
.crew-data {
  display: flex;
  flex-direction: column;
  margin-top: -1rem;
}
.crew-name,
 .name {
  font-family: 'Bellefair';
    font-weight: 100;
    font-size: 2.5rem;
    margin-top: -0.5rem;
    text-transform: uppercase;
}
.crew-bio  {
  color: #D0D6F9;
  margin-top: -1rem;
}
.crew-role,
.num {
  mix-blend-mode: normal;
  opacity: 0.5;
  color: white;
  font-weight: 100;
}
.crew-role {
  text-transform: uppercase;
  font-size: xx-large;
}
.crew-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.crew-image {
  width: 100%;
  height: 30rem;
}
.crew-button {
  width: 1rem;
  height: 1.2rem;
  border-radius: 50%;
  border-style: none;
  mix-blend-mode: normal;
  opacity: 0.5;
  background-color: white;
}
.active-crew {
  background-color: white;
  opacity: 1;
}

h2 {
  font-weight: 200;
}

/* tech styling//////// */
.tech-main {
  margin: 3rem auto;
  display: flex;
  justify-content:flex-end;
  gap: 10%;
  width: 100%;
}
.tech-buttons {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tech-button {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: black;
  color: white;
  border: 0.5px solid white;
}
.active-tech {
  background-color: white;
  color: black;
}

.tech-notes {
  width:  47%;
}
.tech-note {
  display: flex;
  gap: 5rem;
}
.bio {
  color: #dfe2f3;
}
.tech-title {
  margin-top: -2rem;
  padding-bottom: 3rem;
}
.tech-images {
  width: 35%;
}
.tech-image {
 width: 100%;
 height: 25rem;
}

/* destination styles ///// */
.dest-main {
  margin: 6rem auto;
}
.dest-images {
 width: 30%;
 display: flex;
 flex-direction: column;
 gap: 3rem;
}
.dest-title {
  margin-top: -2rem;
}
.dest-image {
  width: 20rem;
  height: 20rem;
}
.dest-notes {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 30%;
}
.footer {
  display: flex;
  gap: 3rem;
  text-transform: uppercase;
  /* justify-content: space-around; */
}

.dest-button {
  background: none;
  border: none;
  font-size: large;
  text-transform: uppercase;
}
.active-dest {
  border-bottom: 2px solid #dfe2f3;
}
.active {
  margin-bottom: -20remcd;
  border-bottom: 2px solid #dfe2f3;
}
.dest-name {
      font-family: 'Bellefair';
      font-weight: 100;
      font-size: 3.5rem;
      margin-bottom: -0.5rem;
      text-transform: uppercase;
}
 .underline {
   background-color: white;
   opacity: 0.5;
   width: 100%;
   height: 0.1rem;
 }
 .two {
  display: none;
 }
 .cancel {
  display: none;
 }
 

@media screen and (max-width: 800px) {
  .home {
      --hm-bcg: url(./assets/home/background-home-tablet.jpg);
    }
  
    .destination {
      --hm-bcg: url(./assets/destination/background-destination-tablet.jpg);
    }
  
    .crew {
      --hm-bcg: url(./assets/crew/background-crew-tablet.jpg);
    }
  
    .technology {
      --hm-bcg: url(./assets/technology/background-technology-tablet.jpg);
    }
  body {
    position: relative;
  }
    .hidden {
      display: none;
    }
  /* home page */
    .home-main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 20rem auto;
      gap: 4rem;
      z-index: -1;
    }
    .home-notes {
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 20rem;
    }
    .article {
      margin-top: 0;
      text-align: center;
    }
    .home-title{
      text-align: center;
      font-size: large;
    }
    .home-space {
      text-align: center;
      font-size: 4rem;
      margin-top: 0;
      margin-bottom: 1rem;
    }
    .explore {
      width: 80%;
      display: flex;
      align-items: center;
    }
    .explore-box {
      width: 14rem;
    }
    /* navlink */
   
    .nav {
      margin-top: 0;
    }
    .nav-links{
      display: flex;
      flex-direction: column;
      /* position: relative; */
    }
    .nav-link {
       position: absolute;
       right: 0px;
      justify-content: flex-start;
      align-items: flex-start;
      height: 120vh;
      z-index: 2;
    }
        .nav-menu {
          display: inline;
          margin-top: 2rem;
          padding-right: 1rem;
        }
        .nav-icon {
          padding-left: 1rem;
        }
        .cancel {
          display: inline;
          margin-top: 1rem;
          padding-right: 1rem;
        }
    /* .destination */
    .dest-main {
      flex-direction: column;
      align-items: center;
    }
    .dest-images {
      width: 80%;
      align-items: center;
    }
    .dest-notes {
      width: 80%;
      text-align: center;
    }
    .footer {
      justify-content: space-around;
    }
    .dest-button {
      width: 25%;
      font-size: medium;
    }
    /* crew */
    .crew-main {
      flex-direction: column-reverse;
      align-items: center;
      gap: 20rem;
    }
    .crew-notes {
      width: 80%;
      align-items: center;
      text-align: center;
      flex-direction: column-reverse;
    }
    .crew-images {
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
    .crew-image {
       border-bottom: 1px solid grey;
    }
    .crew-name,
    .name {
      font-size: xx-large;
    }
    /* tech */
    .tech-main {
      flex-direction: column-reverse;
    }
    .tech-notes {
      width: 100%;
    }
    .tech-images {
      width: 100%;
    }
    .tech-buttons {
      flex-direction: row;
    }
    .tech-n {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .tech-note {
      width: 80%;
     flex-direction: column;
     margin: 0 auto;
     align-items: center;
     text-align: center;
    }
    .one {
      display: none;
    }
    .two {
      display: block;
      text-align: center;
      margin-top: 1rem;
      margin-bottom: -1rem;
    }
    .crew-title {
      margin-top: 1rem;
    }
    
}